@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@700&family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    height: 100vh;
    background-color: antiquewhite;
}

body::-webkit-scrollbar{
    width: 18px;
}

body::-webkit-scrollbar-track{
    border-radius: 35px;
    background-color: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: rgb(199, 199, 199);
}

header{
    background-color: black;
    padding: 20px 0;
}

.itens-li{
    display: inline;
    font-size: 24px;
    font-family: 'Bebas Neue', sans-serif;
}

.itens-a{
    text-decoration: none;
    padding: 15px 30px;
    color: antiquewhite;
    font-weight: bold;
}

.itens-a:hover{
    background-color: rgb(42, 42, 42);
}

.conteudo__imagens{
   text-align: center; 
}



.conteudo__imagens__titulos{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5vw;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.imgs{
    width: 35%;
    border-radius: 30px;
    border: solid black 1.70px;
    margin-bottom: 65px;
}