@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@700&family=Bebas+Neue&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    height: 100vh;
    background-color: antiquewhite;
}

body::-webkit-scrollbar{
    width: 18px;
}

body::-webkit-scrollbar-track{
    border-radius: 35px;
    background-color: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: rgb(199, 199, 199);
}

header{
    padding: 20px 0;
}

.navegacao__fixa{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.itens-li{
    display: inline;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    border-right: solid 1px antiquewhite;
}

.itens-a{
    text-decoration: none;
    padding: 0px 100px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.itens-a:hover{
    font-size: 40px;
    background-color: rgb(42, 42, 42);
    color: rgb(253, 231, 201);
}

.conteudo__titulo__titulos{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5vw;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.padrao-historia{
    display: flex;
    justify-content: space-around;
    padding: 0 10%
}

.padrao-historia__paragrafo{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding-top: 0.5%;
    padding-left: 3%;
    padding-bottom: 2%;
    text-align: justify;
}

.imgs{
    width: 50%;
    height: 50%;
    border-radius: 30px;
    border: solid black 1.70px;
    margin-bottom: 65px;
}